:root {
  --font-family: 'Nunito Sans', sans-serif;;
  --header-level-2: 36px;
  --subtitle-font-size: 24px;
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #FFFFFF;
  --bg_body: #F0F9FF;
  --lines-color: #DDDDDD;
  --body-text: #333333;
  --heart-color: #DC143C;
  --details-text: #FFFFFF;
  --details-bg: #333333;
  --fixed-bg: #FFFFFF;
  --favourite-option-text: #333333;
  --favourite-option-lines: #DDDDDD;
  --invisible-lines: 5%;
  --border-radius: 7px;
  --test: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}